.App {
  text-align: center;
  
}

.App-header {
  padding: 2% 0 0 2%;
  min-height: 50px;
}

.App-section {
  min-height: 600px;
}

.App-aside {
  border-left: 1px solid #cedbdb;
  width: auto;
  height: 784px;
  min-height: 600px;
  padding: 10px;
  overflow: auto;
}

.App-footer {
  min-height: 50px;
}



